<launch>
	
	<!-- this part is for world launching --> 
	<arg name="world_file" default="worlds/empty.world"/>

	<arg name="gui" default="true"/>
	
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		 <arg name="use_sim_time" default="true"/>
		 <arg name="debug" value="false"/>
		 <arg name="gui" value="$(arg gui)" />
		 <arg name="world_name" value="$(arg world_file)" />
		 <arg name="paused" default="true"/>		 
		 <arg name="headless" default="false"/>
	</include>

	<param name="robot_description" command="$(find xacro)/xacro.py --inorder urdfs/quadrotor.urdf.xacro"/>

	<node name="spawn_quadrotor" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0 -y 0 -z 5 -model quadrotor" output="screen">
	</node>

</launch>
