<launch>
	
	<!-- this part is for world launching --> 
	<!-- <arg name="world_file" default="worlds/empty.world"/> -->

	<arg name="world_file" default="/local-scratch/xlv/pre_maml/worlds/air_space.world"/>
	<arg name="gui" default="true"/>
	
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		 <arg name="use_sim_time" default="true"/>
		 <arg name="debug" value="false"/>
		 <arg name="gui" value="$(arg gui)" />
		 <arg name="world_name" value="$(arg world_file)" />
		 <arg name="paused" default="true"/>		 
		 <arg name="headless" default="false"/>
	</include>


	<!-- spawning obstacles -->
	<param name="obst_1" command="$(find xacro)/xacro.py --inorder urdfs/obstacle_1.urdf.xacro"/>
	<param name="obst_2" command="$(find xacro)/xacro.py --inorder urdfs/obstacle_2.urdf.xacro"/>
	<param name="obst_3" command="$(find xacro)/xacro.py --inorder urdfs/obstacle_3.urdf.xacro"/>

	<node name="spawn_obst_1" pkg="gazebo_ros" type="spawn_model" args="-param obst_1 -urdf -x 3 -y 0 -z 5 -model obstacle_1" output="screen"> </node>
	
	<node name="spawn_obst_2" pkg="gazebo_ros" type="spawn_model" args="-param obst_2 -urdf -x -3 -y 0 -z 5 -model obstacle_2" output="screen"> </node>

	<node name="spawn_obst_3" pkg="gazebo_ros" type="spawn_model" args="-param obst_3 -urdf -x -3 -y 0 -z 3 -model obstacle_3" output="screen"> </node>

	<!-- spawning start and goal area -->
	<param name="start" command="$(find xacro)/xacro.py --inorder urdfs/start.urdf.xacro"/>
	<param name="goal" command="$(find xacro)/xacro.py --inorder urdfs/goal.urdf.xacro"/>

	<node name="spawn_start" pkg="gazebo_ros" type="spawn_model" args="-param start  -urdf -x 0 -y 0 -z 5 -model start" output="screen"> </node>
	<node name="spawn_goal" pkg="gazebo_ros" type="spawn_model" args="-param goal -urdf -x 0 -y 0 -z 8 -model goal" output="screen"> </node>

</launch>
